@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth;
  }

  body {
    @apply font-display bg-white text-gray-900;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .bg-gradient-marko {
    background: linear-gradient(135deg, #FF7F27 0%, #C84444 100%);
  }
}

